amqp==5.3.1
asgiref==3.8.1
beautifulsoup4==4.12.3
billiard==4.2.1
celery==5.4.0
certifi==2024.8.30
chardet==3.0.4
click==8.1.7
click-didyoumean==0.3.1
click-repl==0.3.0
colorama==0.4.6
distlib==0.3.8
Django==4.2.9
django-bootstrap4==24.4
django-theme-pixel==1.0.3
filelock==3.16.0
gunicorn==21.2.0
h2==3.2.0
hpack==3.0.0
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
kombu==5.4.2
packaging==24.1
pbr==6.1.0
pillow==11.0.0
pipenv==2024.4.0
platformdirs==4.3.3
prompt_toolkit==3.0.48
python-dateutil==2.9.0.post0
python-decouple==3.8
rfc3986==1.5.0
setuptools==75.0.0
sniffio==1.3.1
soupsieve==2.6
sqlparse==0.5.1
stevedore==5.4.0
tzdata==2024.1
virtualenv==20.26.4
virtualenvwrapper-win==1.2.7
wcwidth==0.2.13
whitenoise==6.6.0
